@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: #333;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  /*border-radius: 19px;*/
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  /*border-top-left-radius: 14px;
  border-top-right-radius: 14px;*/
}

.card__image--bbn img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__level--bbn {
  color: #EC9B3B;
  color: #EE5487;
  color: #F6901A;
  color: #82BB30;
  color: #4FACFF;
}


.card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.card__unit-stats--bbn {
  background: #EC9B3B;
}
.card__unit-stats--bbn .one-third {
  border-right: 1px solid #BD7C2F;
}

.card__unit-stats {
  color: white;
  font-weight: 700;
  /*border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;*/
}
.card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}